<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/static/css/agency.min.css" rel="stylesheet">
</head>
<body>
<div th:include="include/nav::nav"></div>
<div style="height: 80px"></div>
<h1>제품 상세페이지</h1>
<form>
<table>
    <tr>
        <td rowspan="4">
            <div><img th:src="@{/uploads/thumbnail/}+${product.thumb_300 }" /></div>
        </td>
        <td>
            <div><span>상품 브랜드 :</span> <span th:text="${product.p_brand}"></span></div>

        </td>
    </tr>
    <tr>
        <td>
            <div><span>상품 이름 :</span> <span th:text="${product.p_name}"></span></div>

        </td>
    </tr>
    <tr>
        <td>
            <div><span>상품 가격 :</span> <span th:text="${product.p_price}"></span>원</div>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id = "cart" value ="장바구니 담기" onclick ="goCart(this)"th:attr="data-p_id=${product.p_id}">
            <input type="button" id = "buy" value = "구매하기" onclick = "buy();">
        </td>
    </tr>
</table>
    <div style="size: 0.3px"><span>상품상세 :</span> <span th:text="${product.p_spec}"></span>
        <img th:src = "@{/uploads/detailimg/}+${product.detailimg_name}"/>
    </div>
</form>

<script type="text/javascript">
    var cart = function(obj){

    var p_id = $(obj).data("p_id");
        $('#cart')
            .attr('action', '/payment/goCart/'+p_id)
            .attr('method','post')
            .submit();
    };
    var buy = function(){
        $('buy')
            .attr('action','product/buy')
            .attr('method','get')
            .submit();
    };
</script>
</body>
</html>