<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!--카테고리 모던(전체보기, 가구 소품 조명)-->

<div class="modern" id='modern' name ="hi">
    <a href='#' class ="category" ><img src='./images/dislike.png' ></a>
    <div id = "1" name = "modern-furniture">
        <a href = '#' class ="categoryDetail">가구</a>
    </div>
    <div id = "2" name = "modern-furniture">
        <a href = '#' class ="categoryDetail">소품</a>
    </div>
    <div id = "3" name = "modern-furniture">
        <a href = '#' class ="categoryDetail">조명</a>
    </div>
</div>

<!--카테고리 antique(전체보기, 가구 소품 조명)-->
<div class ="antique" id='antique' name ="hi">
    <a href='#' class ="category"><img src="/uploads/thumbnail/100thumb_f5cf2993-514a-448b-9a67-327f1614743e_con-20-1030x781.jpg" ></a>
    <div id = "4" name = "antique-furniture">
        <a href = '#' class ="categoryDetail">가구</a>
    </div>
    <div id = "5" name = "antique-furniture">
        <a href = '#' class ="categoryDetail">소품</a>
    </div>
    <div id = "6" name = "antique-furniture">
        <a href = '#' class ="categoryDetail">조명</a>
    </div>
</div>
<!--카테고리 따듯한(전체보기, 가구 소품 조명)-->
<div class = "warm" id='warm' name = "hi">
    <a href='#' class ="category"><img src='./images/dislike.png' ></a>
    <div id = "7" name = "warm-furniture">
        <a href = '#' class ="categoryDetail">가구</a>
    </div>
    <div id = "8" name = "warm-furniture">
        <a href = '#' class ="categoryDetail">소품</a>
    </div>
    <div id = "9" name = "warm-furniture">
        <a href = '#' class ="categoryDetail">조명</a>
    </div>
</div>
<div id = "siyoung"></div>

<script type="text/javascript"  th:inline="javascript">

    // 객체반환 (큰 카테고리에서 전체보기)
    // 전체문서가 실행될 때 실행되고, 그 내부에 다시 함수를 두어 클릭하면 cid값 가져오기. closet함수!기억
    $(document).ready(function(){
        $(document).on("click", ".category", function(){
            console.log($(this));
            var cid =$(this).closest("div").attr("id");

            console.log(cid);
            var arr = [];

            if(cid == 'modern'){
                arr.push(1);
                arr.push(2);
                arr.push(3);
                console.log(cid);
            }
            else if(cid =='antique'){
                arr.push(4);
                arr.push(5);
                arr.push(6);
                console.log(cid);
            }
            else if(cid =='warm'){
                arr.push(7);
                arr.push(8);
                arr.push(9);
                console.log(cid);

            }
            var ojb = { "c_no" : arr};

            console.log("aJax 연결 전");
            console.log(ojb);

            $.ajax({
                url : '/product/searchProductAll',
                type : 'get',
                data :  ojb,
                dataType : 'json',

                success : function(data){
                    $("#siyoung").empty();
                    alert("성공");
                    console.log(data);
                    $.each(data, function(i){
                        $("#siyoung").append('<tr>'+'<td>'+"상품번호 :" + data[i].p_id + '<br>'+'<br>'+'</td>'+'<td>'+ "상품가격 :"+ data[i].p_price + '</td>'+'</tr>');
                    });
                },
                error : function(error){
                    alert("실패!");
                    console.log(error);

                }
            })
        })

        $(document).on("click", ".categoryDetail", function(){
            console.log($(this));
            var cid =$(this).closest("div").attr("id");
            console.log(cid);

            $.ajax({
                url : '/product/searchProduct',
                type : 'get',
                data :  {c_no : cid},
                dataType : 'json',

                success : function(data){
                    $("#siyoung").empty();
                    alert("성공!");
                    console.log(data);
                    $.each(data, function(i){
                        $("#siyoung").append('<tr>'+'<td>'+"상품번호 :" + data[i].p_id + '</td>'+'<td>'+ "상품가격 :"+ data[i].p_price + '</td>'+'</tr>');
                    });
                },
                error : function(error){
                    alert("실패!");
                    console.log(error);
                }
            })

        })
    })




</script>


</body>
</html>