<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="include/adminnav::adminnav">
    </ul>


    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <table class="table table-bordered table-hover text-center">
                <thead>
                <tr>
                    <td>주문번호</td>
                    <td>주문일자</td>
                    <td>회원 id</td>
                    <td>주문금액</td>
                </tr>
                </thead>


                <tbody>
                <tr th:each="order: ${orderList}" onclick="selectOrder(this);" th:attr="data-o_no=${order.o_no}">
                    <!--                <tr th:each="order: ${orderList}" onclick="selectMember(this);" th:attr="data-m_no=${member.m_no}">-->
                    <td><span th:text="${order.o_no}"></span></td>
                    <td><span th:text="${order.o_date}"></span></td>
                    <td><span th:text="${order.m_no}"></span></td>
                    <td><span th:text="${order.o_price}"></span></a></td>
                </tr>

                </tbody>
            </table>

            <div style="text-align: center; width:100%;">
                <table>
                    <tr>
                        <td style="text-align:center;"><a class="pagebtn blue" href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.beginPage}">&lt;&lt;</a></td> <!-- 첫페이지 -->
                        <td style="text-align:center;"><a class="pagebtn blue" href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.prevPage}">&lt;</a></td> <!--이전페이지-->

                        <td th:each="page:${boardPaging.pageRange}" style="text-align:center;">
                            <!--현재페이지인 경우--><a class="pagebtn blue"  th:if="${ boardPaging.currentPage eq page }" style="font-weight: bold; font-size: 20px;" href="#" th:text="${page}">00</a>
                            <!--현재페이가 아닌 경우--><a class="pagebtn blue"  th:if="${ boardPaging.currentPage ne page }" href="#" onclick="goPage(this);" th:attr="data-page=${page}" th:text="${page}">00</a>
                        </td>

                        <td style="text-align:center;"><a class="pagebtn blue"  href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.nextPage}">&gt;</a></td> <!--다음페이지-->
                        <td style="text-align:center;"><a class="pagebtn blue"  href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.lastPage}">&gt;&gt;</a></td> <!-- 마지막페이지 -->
                    </tr>
                </table>
            </div>

            <form name="boardPaging" id="boardPaging" method="post" action="/admin/orderList">
                <input type="hidden" name="currentPage" id="currentPage" th:value="${boardPaging.currentPage}"/>
                <input type="hidden" name="articleCount" id="articleCount" th:value="${boardPaging.articleCount}"/>
            </form>

            <div id = "OrderModal" class="modal">

                <div class="modal-content">
                    <span class="close col-md-1" onclick="document.getElementById('OrderModal').style.display='none'">&times;</span>
                    <div style="height: 300px; overflow: scroll;">
                        <table class="table table-bordered table-hover text-center">
                            <tbody id = "product-table">

                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table class="table table-bordered table-hover text-center">
                            <tbody id = "order-table">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    var currentPage = /*[[${boardPaging.currentPage}]]*/;
    var modal = document.getElementById("OrderModal");

    var goPage = function(p){
        var page = $(p).data('page');

        console.log(page);

        if(page>0){
            $('#currentPage').val(page);
            $('#boardPaging').submit();
        }

    };

    var selectOrder = function(obj){
        var o_no = $(obj).data('o_no');

        console.log(o_no);

        $.ajax({
            url: '/admin/order/'+o_no,
            type: 'post',
            data: {
                // data1:'abcd', data2:'bdee' // for test
            },
            dataType: 'json',
            success : function(data) {
                // 성공 시 동작
                console.log('성공');
                console.log(data);
                $("#product-table").empty();
                $.each(data.product, function(index, obj){
                    $("#product-table").append('<tr><td rowspan="5"><img src="/uploads/thumbnail/'+obj.thumb_100+'" style="max-width: 100%;"/></td></tr>'+
                        '<tr><td>제품명</td><td>'+obj.p_name+'</td></tr>'+
                        '<tr><td>옵션</td><td>'+obj.po_value+'</td></tr>'+
                        '<tr><td>구매 수량</td><td>'+obj.od_amount+'</td></tr>'+
                        '<tr><td>가격</td><td>'+obj.od_price+'</td></tr>');
                });
                $("#order-table").empty();
                $("#order-table").append('<tr><td>회원명</td><td>' + data.orderInfo[0].m_name + '</td></tr>');
                $("#order-table").append('<tr><td>주문자 성명</td><td>' + data.orderInfo[0].o_name + '</td></tr>');
                $("#order-table").append('<tr><td>주문자 연락처</td><td>' + data.orderInfo[0].o_number + '</td></tr>');
                $("#order-table").append('<tr><td>주문자 주소</td><td> (' + data.orderInfo[0].o_postcode + ')'+data.orderInfo[0].o_roadAddress +' '+ data.orderInfo[0].o_detailAddress +'</td></tr>');
                $("#order-table").append('<tr><td>주문 가격</td><td>' + (data.orderInfo[0].o_price+2500) + '</td></tr>');

                modal.style.display = "block";

            },
            error: function(error) {
                // 실패 시 동작
                console.error('실패');
                console.error(error);
            },
            complete: function(response) {
                // 성공하든 실패하든 항상 할 동작
                console.log('수행 요청이 완료되었습니다.');
            }
        });
    };
</script>
</body>

</html>