<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:include="include/adminnav::adminnav">
    </ul>


    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <table class="table table-bordered table-hover text-center">
                <thead>
                <tr>
                    <td>주문번호</td>
                    <td>주문일자</td>
                    <td>회원 id</td>
                    <td>주문금액</td>
                </tr>
                </thead>


                <tbody id = "table">
                <tr th:each="order: ${orderList}">
<!--                <tr th:each="order: ${orderList}" onclick="selectMember(this);" th:attr="data-m_no=${member.m_no}">-->
                    <td><span th:text="${order.o_no}"></span></td>
                    <td><span th:text="${order.o_date}"></span></td>
                    <td><span th:text="${order.m_no}"></span></td>
                    <td><span th:text="${order.o_price}"></span></a></td>
                </tr>

                </tbody>
            </table>

<!--            <div style="text-align: center; width:100%;">-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <td style="text-align:center;"><a class="pagebtn blue" href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.beginPage}">&lt;&lt;</a></td> &lt;!&ndash; 첫페이지 &ndash;&gt;-->
<!--                        <td style="text-align:center;"><a class="pagebtn blue" href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.prevPage}">&lt;</a></td> &lt;!&ndash;이전페이지&ndash;&gt;-->

<!--                        <td th:each="page:${boardPaging.pageRange}" style="text-align:center;">-->
<!--                            &lt;!&ndash;현재페이지인 경우&ndash;&gt;<a class="pagebtn blue"  th:if="${ boardPaging.currentPage eq page }" style="font-weight: bold; font-size: 20px;" href="#" th:text="${page}">00</a>-->
<!--                            &lt;!&ndash;현재페이가 아닌 경우&ndash;&gt;<a class="pagebtn blue"  th:if="${ boardPaging.currentPage ne page }" href="#" onclick="goPage(this);" th:attr="data-page=${page}" th:text="${page}">00</a>-->
<!--                        </td>-->

<!--                        <td style="text-align:center;"><a class="pagebtn blue"  href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.nextPage}">&gt;</a></td> &lt;!&ndash;다음페이지&ndash;&gt;-->
<!--                        <td style="text-align:center;"><a class="pagebtn blue"  href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.lastPage}">&gt;&gt;</a></td> &lt;!&ndash; 마지막페이지 &ndash;&gt;-->
<!--                    </tr>-->
<!--                </table>-->
<!--            </div>-->

<!--            <form name="boardPaging" id="boardPaging" method="post" action="/admin/memberList">-->
<!--                <input type="hidden" name="currentPage" id="currentPage" th:value="${boardPaging.currentPage}"/>-->
<!--                <input type="hidden" name="articleCount" id="articleCount" th:value="${boardPaging.articleCount}"/>-->
<!--            </form>-->


        </div>
    </div>
</div>
</body>
</html>