<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>ADMIN PAGE</title>

</head>
<body>
<checkbox id = "category">
    <input type="checkbox" th:value="1">모던-가구
    <input type="checkbox" th:value="2">모던-조명
    <input type="checkbox" th:value="3">모던-소품
    <input type="checkbox" th:value="4">앤틱-가구
    <input type="checkbox" th:value="5">앤틱-조명
    <input type="checkbox" th:value="6">앤틱-소품
</checkbox>
<div id ="product-div">



    <table id="example-table-1" width="100%" class="table table-bordered table-hover text-center">
        <thead>
        <tr>
            <th> 제품 번호 </th>
            <th> 제품명 </th>
            <th> 가격 </th>
        </tr>
        </thead>
        <tbody id="test-tbody">

        </tbody>
    </table>
</div>
<input type="button" id="openModal" value="상품 등록" onclick="addProduct();" >

<div id = "addProductModal" style="display: none">
    <form name="insertProduct" id="insertProduct" method="post" enctype="multipart/form-data" action="/admin/productList/add">
        제품명<input type="text" id="p_name" name="p_name"><br>
        카테고리 <select name = "category_no">
        <option value="1">모던-가구</option>
        <option value="2">모던-조명</option>
        <option value="3">모던-소품</option>
        <option value="4">앤틱-가구</option>
        <option value="5">앤틱-조명</option>
        <option value="6">앤틱-소품</option>
    </select><br>
        가격<input type="text" id="p_price" name="p_price"><br>
        제품 브랜드<input type="text" id="p_brand" name="p_brand"><br>
        기본 설명<input type="text" id="p_spec" name="p_spec"><br>
        썸네일 <input type="file" id="thumbnail" name = "thumbnail"><br>
        상세이미지 <input type="file" id="detailImg" name = "detailImg"><br>
        <div id="div-option">
            옵션
            <input type="button"  onclick="addOption();" value="옵션 추가">
            <div class="col-lg-12" id="ex1_Result1" ></div>

        </div>
        <div class="select_thumbnail"><img src="" /></div>
        <div class="select_detailImg"><img src=""></div>
        <input type="submit" value="upload"/>

    </form>
</div>


</body>
<script>

    var i=0;
    var addOption = function(){
        $("#div-option").append('<input type="text" id="po_value" name="OptionVOList[0].po_value" value="옵션명"> <input type="text" id="po_price" name="OptionVOList[0].po_price" value="옵션별 추가 가격"> <input type="text" id="po_stock" name="OptionVOList[0].po_stock" value="옵션별 재고"><br>');
        i++;
    };

    var addProduct = function () {
        var modal = document.getElementById("addProductModal");
        modal.style.display = "block";
    };


    $("#thumbnail").change(function(){
        if(this.files && this.files[0]) {
            var reader = new FileReader;
            reader.onload = function(data) {
                $(".select_thumbnail img").attr("src", data.target.result).width(500);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $("#detailImg").change(function(){
        if(this.files && this.files[0]) {
            var reader = new FileReader;
            reader.onload = function(data) {
                $(".select_detailImg img").attr("src", data.target.result).width(500);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $("#category").change(function () {
        var arr = [];
        $("input:checkbox:checked").each(function (index) {
            arr.push($(this).val());
        });
        $.ajax({
            url : '/admin/productList/'+arr,
            type : 'post',
            data :  {category_no : arr},
            dataType : 'json',

            success : function(data){
                $("#test-tbody").empty();
                console.log(data);
                $.each(data, function(i){
                    $("#test-tbody").append('<tr>'+'<td>' + data[i].p_id + '</td>'+'<td>' + data[i].p_name + '</td>'+'<td>' + data[i].p_price + '</td>'+'</tr>');
                });
                $("#example-table-1 tr").click(function(){

                    var p_id = $(this).children().eq(0).text();

                    $.ajax({
                        url : '/admin/product/'+p_id,
                        type : 'post',
                        data : {},
                        dataType : 'json',
                        success : function (data) {
                            var modal = document.getElementById("addProductModal");
                            modal.style.display = "block";
                            console.log(data);
                        },
                        error : function(error){
                            alert("실패!");
                            console.log(data);
                        }
                    })

                    $("#ex1_Result1").html(p_id);
                });
            },
            error : function(error){
                alert("실패!");
                console.log(data);
            }
        })
    });
</script>
</html>