<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <title>ADMIN PAGE</title>

</head>
<body>
<checkbox id = "category">
    <input type="checkbox" th:value="1">모던-가구
    <input type="checkbox" th:value="2">모던-조명
    <input type="checkbox" th:value="3">모던-소품
    <input type="checkbox" th:value="4">앤틱-가구
    <input type="checkbox" th:value="5">앤틱-조명
    <input type="checkbox" th:value="6">앤틱-소품
    <input type="checkbox" th:value="7">따뜻한-가구
    <input type="checkbox" th:value="8">따뜻한-조명
    <input type="checkbox" th:value="9">따뜻한-소품
</checkbox>
<div id ="product-div">



    <table id="example-table-1" width="100%" class="table table-bordered table-hover text-center">
        <thead>
        <tr>
            <th> 제품 번호 </th>
            <th> 제품명 </th>
            <th> 가격 </th>
        </tr>
        </thead>
        <tbody id="test-tbody">

        </tbody>
    </table>
</div>
<input type="button" id="openModal" value="상품 등록" onclick="addProduct();" >

<div id = "addProductModal" class="modal">

    <div class="modal-content">
        <form name="insertProduct" id="insertProduct" method="post" enctype="multipart/form-data" action="/admin/productList/add">
<!--            <input type="hidden" id="p_id" name="p_id"/>-->
            <div class = "row">
                <div class="select_thumbnail col-md-3" >
                    썸네일<br>
                    <img src="" style="max-width: 100%;"/>
                    <input type="file" id="thumbnail" name = "thumbnail" style="position: relative;bottom:0px;left: 0px;">
                </div >
                <div class = "col-md-8">

                    제품명<input type="text" id="p_name" name="p_name"><br>
                    카테고리
                    <select id = "category_no" name = "category_no">
                    <option value="1">모던-가구</option>
                    <option value="2">모던-조명</option>
                    <option value="3">모던-소품</option>
                    <option value="4">앤틱-가구</option>
                    <option value="5">앤틱-조명</option>
                    <option value="6">앤틱-소품</option>
                    <option value="7">따뜻한-가구</option>
                    <option value="8">따뜻한-조명</option>
                    <option value="9">따뜻한-소품</option>
                </select>
                    <br>
                    가격<input type="text" id="p_price" name="p_price"><br>
                    제품 브랜드<input type="text" id="p_brand" name="p_brand"><br>
                    기본 설명<input type="text" id="p_spec" name="p_spec"><br>

                    <div id="option">
                        옵션<input type="button"  onclick="addOption();" value="옵션 추가" id="addOption">
<!--                        <div class="row"><input type="text" name="OptionVOList[0].po_value" value="옵션명" onclick=this.value=""> <input type="text" name="OptionVOList[0].po_price" value="옵션별 추가 가격" onclick=this.value=""> <input type="text" name="OptionVOList[0].po_stock" value="옵션별 재고" onclick=this.value=""></div>-->

                        <div id="option-content" >
                        </div>

                    </div>

                </div>
                <span class="close col-md-1" onclick="document.getElementById('addProductModal').style.display='none'">&times;</span>
            </div>
            <div class="select_detailImg" style="height: 200px; overflow: scroll;">
                <div>상세이미지 <input type="file" id="detailImg" name = "detailImg"></div>
                <img src="">
            </div>


            <input type="submit" value="upload"/>

        </form>
    </div>

</div>


</body>
<script>
    var modal = document.getElementById("addProductModal");
    var i=0;
    var addOption = function(){

        $("#option-content").append('<div class="row"><input type="text" name="OptionVOList['+i+'].po_value" value="옵션명" onclick=this.value=""> <input type="text" name="OptionVOList['+i+'].po_price" value="옵션별 추가 가격" onclick=this.value=""> <input type="text" name="OptionVOList['+i+'].po_stock" value="옵션별 재고" onclick=this.value=""></div>');
        i++;
    };

    var addProduct = function () {
        $("#p_id").remove();
        $("#p_name").val("");
        $("#p_brand").val("");
        $("#p_spec").val("");
        $("#p_price").val("");
        $(".select_thumbnail img").attr("src", "");
        $(".select_detailImg img").attr("src", "");
        $("#option-content").empty();
        modal.style.display = "block";
    };


    $("#thumbnail").change(function(){
        if(this.files && this.files[0]) {
            var reader = new FileReader;
            reader.onload = function(data) {
                $(".select_thumbnail img").attr("src", data.target.result).width(500);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });
    $("#detailImg").change(function(){
        if(this.files && this.files[0]) {
            var reader = new FileReader;
            reader.onload = function(data) {
                $(".select_detailImg img").attr("src", data.target.result).width(500);
            }
            reader.readAsDataURL(this.files[0]);
            //$("#ex1_Result1").html(this.files[0]);
        }
    });
    $("#category").change(function () {
        var arr = [];
        $("input:checkbox:checked").each(function (index) {
            arr.push($(this).val());
        });
        if(arr.length == 0){
            $("#test-tbody").empty();
        }else{
            $.ajax({
                url : '/admin/productList/'+arr,
                type : 'post',
                data :  {category_no : arr},
                dataType : 'json',

                success : function(data){
                    $("#test-tbody").empty();
                    console.log(data);
                    $.each(data, function(i){
                        $("#test-tbody").append('<tr>'+'<td>' + data[i].p_id + '</td>'+'<td>' + data[i].p_name + '</td>'+'<td>' + data[i].p_price + '</td>'+'</tr>');
                    });
                    $("#example-table-1 tr").click(function(){

                        var p_id = $(this).children().eq(0).text();

                        $.ajax({
                            url : '/admin/product/'+p_id,
                            type : 'post',
                            data : {},
                            dataType : 'json',
                            success : function (data) {
                                addProduct();
                                $("#insertProduct").attr("action", "/admin/product/modify");
                                $("#insertProduct").append('<input id="p_id" name="p_id" value="'+p_id+'"/>');

                                // $("#p_id").val(p_id);
                                // $("#p_id").show();
                                $("#p_name").val(data.p_name);
                                $("#p_brand").val(data.p_brand);
                                $("#p_spec").val(data.p_spec);
                                $("#p_price").val(data.p_price);
                                $("#category_no").val(data.category_no);
                                $(".select_thumbnail img").attr("src", "http://localhost/uploads/thumbnail/"+data.thumb_name);
                                $(".select_detailImg img").attr("src", "http://localhost/uploads/detailImg/"+data.detailimg_name);
                                data.option.forEach(function (value, index) {
                                    $("#option-content").append('<div class="row"><input type="text" name="OptionVOList['+index+'].po_value" value='+value.po_value+'> <input type="text" name="OptionVOList['+index+'].po_price" value='+value.po_price+'> <input type="text" name="OptionVOList['+index+'].po_stock" value='+value.po_stock+'></div>');
                                });

                                // var option = function(){
                                //     var index = data.option.length;
                                //     console.log(index);
                                //     $("#option-content").append('<div class="row"><input type="text" name="OptionVOList['+index+'].po_value" > <input type="text" name="OptionVOList['+index+'].po_price"> <input type="text" name="OptionVOList['+index+'].po_stock"></div>');
                                // }
                                // $("#addOption").attr("onclick", option());
                            },
                            error : function(error){
                                alert("실패!");
                                console.log(data);
                            }
                        })

                        //$("#ex1_Result1").html(p_id);
                    });
                },
                error : function(error){
                    alert("실패!");
                    console.log(data);
                }
            })
        }



    });
</script>
</html>