<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/agency.min.css" rel="stylesheet">
    <link href="/static/css/board.css" rel="stylesheet">
</head>
<body>
<div th:include="include/nav::nav"></div>
<div style="height: 80px"></div>
    <h1><span th:text="${board.qna_title}">제목</span></h1>


    <form name="viewForm" id="viewForm" method="get" style="width:600px;">
        <table>
            <tr>
                <td colspan="99" style="text-align:left;">
                    <span>글번호:</span> <span th:text="${board.qna_no}">글번호</span>
                    <span>　작성자:</span> <span th:text="${board.m_name}">작성자</span>
                    <span>　등록일자:</span> <span th:text="${#dates.format(board.qna_regdate, 'YYYY-MM-dd HH:mm')}">등록일자</span>
                </td>
            </tr>

        <td class="view">
            <span>　</span>
            <div th:text="${board.qna_context}"></div>
        </td>
        </table>
    </form>

    <input class="button" type="button" value="답글" onclick="replyBoard();"/>
    <input class="button button-modify" type="button" value="수정" onclick="modifyBoard();"/>
    <input class="button button-delete" type="button" value="삭제" onclick="passcheck(this)" th:attr="data-qna_no = ${board.qna_no}" />
    <input class="button" type="button" value="목록" onclick="listBoard();"/>

<div style="width: 100%" th:include="include/footer::footer"></div>
    <script type="text/javascript" th:inline="javascript">
        
        var qna_no = /*[[ ${board.qna_no} ]]*/;
        var m_no = /*[[ ${board.m_no} ]]*/;
        var session_m_no = /*[[${session.member.m_no}]]*/;
        console.log(m_no);
        console.log(session_m_no);

        var replyBoard = function () {
            if(session_m_no==3){
            $('#viewForm')
                .attr('action','/board/reply/' + qna_no)
                .attr('method','get')
                .submit();}
            else{
                alert("권한이 없습니다.");
            }

        }

        var modifyBoard = function(){
            if(m_no==session_m_no){
            $('#viewForm')
                .attr('action','/board/update/' + qna_no)
                .attr('method','get')
                .submit();}
            else{
                alert("작성자와 일치하지 않습니다.");
            }
        };
        
        
        var deleteBoard = function(){
            if(confirm('정말로 삭제하시겠습니까?')){
                $('#viewForm')
                    .attr('action','/board/delete/' + qna_no)
                    .attr('method','post')
                    .submit();
            }
        };
        var listBoard = function(){
            location.href='/board/list';
        };

        var passcheck = function(obj) {
            var qna_no = $(obj).data("qna_no");

            if (m_no == session_m_no) {
                var passwd = prompt("비밀번호를 입력하세요");

                console.log(passwd);

                var param = {qna_no: qna_no, qna_passwd: passwd};

                // ajax
                $.ajax({
                    type: 'get',
                    url: '/board/passck',
                    data: param,
                    error: function (error) {
                        console.error("Error!");
                    },
                    success: function (data) {
                        console.log("success!");
                        console.log(data);
                        console.log(data.count);


                        if (data.count == 0) {
                            alert("비밀번호 틀림")
                            // 비밀번호 틀림
                        } else {
                            deleteBoard();
                        }

                    },
                    complete: function () {
                        console.log("complete!");
                    }
                });

                console.log('aaa');

            }
            else{
                alert("작성자와 일치하지 않습니다.");
            }
        }


        
    </script>

</body>
</html>