<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="nav">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink " id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/main/index">INTERIA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/product/main">STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/board/list'>Q&A</a>
                </li>
                <script th:inline="javascript">
                    var memberk = /*[[${session.member}]]*/

                        console.log("세션정보");
                    function gocart() {
                        $('#cart')
                            .attr('method', 'post')
                            .attr('action', '/payment/cart/'+memberk.m_no)
                            .submit();
                    }
                    function gomypage() {
                        $('#myPage')
                            .attr('method','post')
                            .attr('action','/member/mypage/'+memberk.m_no)
                            .submit();
                    }
                    var productList = function () {
                        $('#productList').attr('method','post')
                            .attr('action', '/admin/productList')
                            .submit();
                    }
                    if(memberk!=null && memberk.m_no!=2){
                        document.write("<form style=\"margin: 0px\" name=\"cart\" id=\"cart\"><li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=\"gocart()\">CART</a>\n" +
                            "          </li></form>")
                        document.write("<li class=\"nav-item\" id='logOut'>\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/logOut\" onclick='logOut()'>LOGOUT</a>\n" +
                            "            </li>");
                        document.write("<form style=\"margin: 0px\" name=\"mypage\" id=\"myPage\"><li class=\"nav-item\">\n" +
                            "              <a class=\"nav-link js-scroll-trigger\"  href =\"#\" onclick=\"gomypage()\">MY PAGE</a>\n" +
                            "            </li></form>");

                    }
                    else if(memberk!=null && memberk.m_no==2){
                        document.write("<form style=\"margin: 0px\" name=\"cart\" id=\"cart\"><li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=\"gocart()\">CART</a>\n" +
                            "          </li></form>")
                        document.write("<li class=\"nav-item\" id='logOut'>\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/logOut\" onclick='logOut()'>LOGOUT</a>\n" +
                            "            </li>");
                        document.write("<li class=\"nav-item\">\n" +
                            "              <form id=\"productList\"><a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick='productList();'>ADMIN PAGE</a></form>\n" +
                            "            </li>");
                    }
                    else{
                        document.write("<li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=carterror()>CART</a>\n" +
                            "          </li>");
                        document.write("<li class=\"nav-item\">\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/login\">LOGIN</a>\n" +
                            "            </li>\n");
                        document.write("<li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"/member/regist\">REGIST</a>\n" +
                            "          </li>");

                    }

                    function carterror() {
                        alert("로그인 하세요");
                        location.href='/member/login'
                    }
                </script>



            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>