<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="script">
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="/static/js/jqBootstrapValidation.js"></script>
<script src="/static/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="/static/js/agency.min.js"></script>
<script>
    $(function(){
        $(".money").each(function () {
            var value = $(this).val();
            console.log(value);
            $(this).attr('value', comma(uncomma(value))+' 원');
        })
    });
    $(function(){
        $(".phone").each(function () {
            var value = $(this).val();
            console.log(value);
            $(this).attr('value', hyphen(value));
        })
    });

    // 콤마 찍기
    function comma(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
    }

    // 하이픈 찍기
    function hyphen(str) {
        str = String(str);
        return str.replace(/(\d)(?=(?:\d{4})+(?!\d))/g, '$1-');
    }

    // 콤마 풀기
    function uncomma(str) {
        str = String(str);
        return str.replace(/[^\d]+/g, '');
    }
</script>
</body>
</html>