<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" dir = "ltr">
<head>
    <meta charset="utf-8">
    <title>회원찾기</title>

    <link href="../static/css/style.css" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>
<!--아이디찾기-->

<form name = "idFind"  class="id-Find" id = "idFind" >
    <h1>아이디찾기</h1>
    <div class="txtb">
        <input type="text" id = "m_name" name = "m_name">
        <span data-placeholder="이름을 입력하세요."></span>
    </div>
    <div class="txtb">
        <input type="text" id="m_phone" name = "m_phone">
        <span data-placeholder="휴대폰번호를 입력하세요."></span>
    </div>
    <input type="button" class="logbtn" value="아이디찾기" id ="id"/>
</form>

<!--비밀번호찾기-->

<form name = "pwFind"class="pw-Find" id = "pwFind">
    <h1>비밀번호찾기</h1>

    <div class="txtb">
        <input type="text" id = "m_id" name = "m_id">
        <span data-placeholder="가입하신 이메일을 입력해주세요"></span>
    </div>

    <div class="txtb">
        <input type="text"  name = "m_phone" id ="m_phone1">
        <span data-placeholder="휴대폰번호를 입력하세요."></span>
    </div>
    <input type="button" class="logbtn" value="비밀번호찾기" id = "pw"/>
    <br>
    <div class = "bottom-text">
        <a href = "/member/login">로그인하러가기!</a>
    </div>

</form>

<script type="text/javascript"  th:inline="javascript">


    $('#id').click(function(){

        $.ajax({
            url : '/member/idFind',
            type : 'get',
            data :{"m_name" : $("#m_name").val(),"m_phone" : $("#m_phone").val()},
            dataType : 'json',

            success : function(data){
                console.log(data.m_id);
                alert("회원님의 아이디는 "+data.m_id+"입니당!")},
            error : function(error){
                alert("일치하는 아이디가 없습니다");
            }
        })
    });


    $('#pw').click(function(){

        $.ajax({
            url : '/member/pwFind',
            type : 'get',
            data :{"m_id" : $("#m_id").val(),"m_phone" : $("#m_phone1").val()},
            dataType : 'json',
            success : function(data){
                console.log(data.m_password);
                alert("회원님의 비밀번호는 "+data.m_password+"입니당!")},
            error : function(error){
                alert("일치하는 아이디가 없습니다");
            }
        })
    });

    //css
    $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
    })

    $(".txtb input").on("blur",function(){
        if($(this).val() == "")
            $(this).removeClass("focus");
    })


</script>

</body>
</html>
