<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" dir = "ltr">
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<link href="../static/css/style.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<form name = "loginForm" action="/member/login" class="login-form" id = loginForm method ="post" >
	<h1>Login</h1>
	<div class="txtb">
		<input type="text" id = "m_id" name = "m_id">
		<span data-placeholder="Email"></span>
	</div>
	<div id = loginIdCheck></div>

	<div class="txtb">
		<input type="password" id="m_password" name = "m_password">
		<span data-placeholder="Password"></span>
	</div>
	<div id =loginPasswordCheck></div>

	<input type="button" class="logbtn" value="Login" onclick="login();"/>

	<div class="bottom-text">
		Don't have account? <a href="regist">Sign up</a>
	</div>
	<div class ="bottom-text">
		<a href = "/member/idPwFind">아이디나 비밀번호를 잊어버리셨나요?</a>
	</div>

	<!--    <input type = "button" class = "logbtn" value = "아이디나 비밀번호를 잊어버리셨나요?" onclick = "idPwFind();"/>-->

</form>

<script type="text/javascript" th:inline="javascript">
	//css
	$(".txtb input").on("focus",function(){
		$(this).addClass("focus");
	});
	$(".txtb input").on("blur",function(){
		if($(this).val() == "")
			$(this).removeClass("focus");
	});
	var login = function() {
		$('#loginForm')
				.attr('action', '/member/login')
				.submit();
	};
	//모든 페이지가 요청이 되었을 때
	$(document).ready(function() {
		// ID를 alpreah_input로 가지는 곳에서 키를 누를 경우
		$("#m_password").keydown(function(key) {
			//키의 코드가 13번일 경우 (13번은 엔터키)
			if (key.keyCode == 13) {
				//경고창을 출력한다.
				login();
			}
		});
	});
	//
	// var idPwFind = function(){
	//     $('#loginForm')
	//         .attr('action', '/member/idPwFind')
	//         .attr('method','get')
	//         .submit();
	// }
</script>


</body>
</html>