<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir = "ltr">
<head th:include="include/import::import">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink " id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/main/index">INTERIA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/product/main">STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/board/list'>Q&A</a>
                </li>
                <script th:inline="javascript">
                    var memberk = /*[[${session.member}]]*/

                        console.log("세션정보");
                    function gocart() {
                        $('#cart')
                            .attr('method', 'post')
                            .attr('action', '/payment/cart/'+memberk.m_no)
                            .submit();
                    }
                    if(memberk!=null && memberk.m_no!=3){
                        document.write("<form style=\"margin: 0px\" name=\"cart\" id=\"cart\"><li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=\"gocart()\">CART</a>\n" +
                            "          </li></form>")
                        document.write("<li class=\"nav-item\" id='logOut'>\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/logOut\" onclick='logOut()'>LOGOUT</a>\n" +
                            "            </li>");
                    }
                    else if(memberk!=null && memberk.m_no==3){
                        document.write("<form style=\"margin: 0px\" name=\"cart\" id=\"cart\"><li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=\"gocart()\">CART</a>\n" +
                            "          </li></form>")
                        document.write("<li class=\"nav-item\" id='logOut'>\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/logOut\" onclick='logOut()'>LOGOUT</a>\n" +
                            "            </li>");
                        document.write("<li class=\"nav-item\">\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/admin/\">ADMIN PAGE</a>\n" +
                            "            </li>");
                    }
                    else{
                        document.write("<li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=carterror()>CART</a>\n" +
                            "          </li>");
                        document.write("<li class=\"nav-item\">\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/login\">LOGIN</a>\n" +
                            "            </li>\n");
                        document.write("<li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"/member/regist\">REGIST</a>\n" +
                            "          </li>");

                    }

                    function carterror() {
                        alert("로그인 하세요");
                        location.href='/member/login'
                    }
                </script>

            </ul>
        </div>
    </div>
</nav>


<div style="margin-top: 150px">
<input type = "button" value = "내 정보조회" onclick="myInfo()"/>
<input type = "button" value = "주문조회" onclick = "myOrder()"/>
</div>


<div id ="myOrder" style="display:none;">
    <table>
        <thead>

        <tr>

            <td class="pivateck">상품정보</td>
            <td class="pivateck">옵션정보</td>
            <td class="titlehead">주문자</td>
            <td class="right">수량</td>
            <td class="right">상품금액</td>
            <td class="right">상태</td>
        </tr>
        </thead>

        <tbody>

        <tr th:each="order:${myOrderData}">
            <td class="left" th:text="${order.p_name}" >상품정보</td>
            <td class="left" th:text="${order.po_value}" >옵션정보</td>
            <td class="left" th:text="${order.m_name}" >주문자</td>
            <td class="left" th:text="${order.od_amount}" >수량</td>
            <td class="left" th:text="${order.od_price}">상품금액</td>
            <td class="left" th:text="${order.o_cancel}">상태</td>

        </tr>
        </tbody>
    </table>

</div>




<form name = "myPage" id = "myPage"
      class ="myPage" method="post" style = "width:600px; display: none"  >

    <h1>내정보조회</h1>

    <div class ="mp"><input type = "text" name = "m_name" id ="m_name" readonly="readonly" th:value="${member.m_name}"/>
        <span>Username</span></div>
    <div id="checkName"></div>

    <div class ="mp"><input type="text" name ="m_id" id="m_id" readonly="readonly" th:value="${member.m_id}" />
        <span>ID</span></div>

    <div class ="txtb"><input type="password" name ="m_password" id="m_password"/>
        <span data-placeholder="Password"></span></div>
    <div id =checkPassword></div>


    <div class ="txtb"><input type="password" id="PwCheck"/>
        <span data-placeholder="Password check"></span></div>
    <div id="checkPwd"></div>

    <div class ="mp"><input type="text" name ="m_phone" id="m_phone" th:value="${member.m_phone}"/>
        <span>Phone number</span></div>
    <div id="checkPhone"></div>

    <input type = "button" class= "logbtn" value = "회원 정보 수정" onclick="insert();"/>

</form>


<script type = "text/javascript" th:inline="javascript">
   var order = /*[[${myOrderData}]]*/;
     console.log(order);
    console.log(memberk);

    var myInfo = function(){
        $('#myOrder')
            .attr('style','display:none');
        $('#myPage')
            .attr('style','display:block');
   }

   var myOrder = function(){
        $('#myOrder')
            .attr('style','display:block');
        $("#myPage")
            .attr('style','display:none');
   }



    //html 설정

    $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur",function(){
        if($(this).val() == "")
            $(this).removeClass("focus");
    });

    //빈칸입력방지 및 폼 제출

    var insert = function(){
        var m_no=/*[[${session.member.m_no}]]*/
            console.log(m_no);

        if($.trim($('#m_name').val())==''){
            document.getElementById("checkName").innerHTML = "이름을 입력해주세요.";
            document.getElementById("checkName").style.color = "red";
            return false;
        }

        if($.trim($('#m_id').val())==''){
            document.getElementById("checkId").innerHTML = "ID를 입력해주세요.";
            document.getElementById("checkId").style.color = "red";
            return false;
        }



        if($.trim($('#m_password').val())==''){
            document.getElementById("checkPassword").innerHTML = "비밀번호를 입력해주세요.";
            document.getElementById("checkPassword").style.color = "red";
            return false;
        }

        if($.trim($('#m_phone').val())==''){
            document.getElementById("checkPhone").innerHTML = "휴대폰 번호를 입력해주세요.";
            document.getElementById("checkPhone").style.color = "red";
            return false;
        }

        if($.trim($('#m_password').val())!=$.trim($('#PwCheck').val())){
            document.getElementById("checkPwd").innerHTML = "비밀번호를 확인해주세요.";
            document.getElementById("checkPwd").style.color = "red";
            return false;
        }

        else{
            alert("회원 정보를 수정하셨습니다.");
        }


        $('#myPage')
            .attr('action','/member/mypage/modify/'+m_no)
            .submit();
    };


    $("#m_password").change(function(){
        checkPassword($('#m_password').val(),$('#m_id').val());
    });
    function checkPassword(password,id){

        if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(password)){
            document.getElementById("checkPassword").innerHTML = "숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.";
            document.getElementById("checkPassword").style.color = "red";
            $('#password').val('').focus();
            return false;
        }else{
            document.getElementById("checkPassword").innerHTML = "사용가능한 비밀번호입니다";
            document.getElementById("checkPassword").style.color = "blue";
            return false;
        }


        return true;
    }


    var idChk =function(){
        var ck_id = $('#m_id').val();

        console.log(ck_id);

        var param = {m_id:ck_id};
        //ajax
        $.ajax({
            type : 'get',
            url : '/board/idchk',
            data : param,
            error : function(error) {
                console.error("Error!");
            },
            success : function(data) {
                console.log("success!");
                console.log(data);
                console.log(data.count);
                if(data.count==0){
                    if(param.m_id==""){
                        document.getElementById("checkId").innerHTML = "사용 불가능한 아이디 입니다.";
                        document.getElementById("checkId").style.color = "red";

                    }
                    else{
                        document.getElementById("checkId").innerHTML = "사용 가능한 아이디 입니다.";
                        document.getElementById("checkId").style.color = "blue";}
                    // 아이디 중복 없음
                }
                else{
                    document.getElementById("checkId").innerHTML = "사용 불가능한 아이디 입니다.";
                    document.getElementById("checkId").style.color = "red";
                    // 아이디 중복
                }

            },
            complete : function() {
                console.log("complete!");
            }
        });
    }

</script>
</body>
</html>

