<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" dir = "ltr">
<head th:include="include/import::import">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink " id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/main/index">INTERIA</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/product/main">STORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href='/board/list'>Q&A</a>
                </li>
                <script th:inline="javascript">
                    var memberk = /*[[${session.member}]]*/

                        console.log("세션정보");
                    function gocart() {
                        $('#cart')
                            .attr('method', 'post')
                            .attr('action', '/payment/cart/'+memberk.m_no)
                            .submit();
                    }
                    if(memberk!=null && memberk.m_no!=3){
                        document.write("<form style=\"margin: 0px\" name=\"cart\" id=\"cart\"><li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=\"gocart()\">CART</a>\n" +
                            "          </li></form>")
                        document.write("<li class=\"nav-item\" id='logOut'>\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/logOut\" onclick='logOut()'>LOGOUT</a>\n" +
                            "            </li>");
                    }
                    else if(memberk!=null && memberk.m_no==3){
                        document.write("<form style=\"margin: 0px\" name=\"cart\" id=\"cart\"><li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=\"gocart()\">CART</a>\n" +
                            "          </li></form>")
                        document.write("<li class=\"nav-item\" id='logOut'>\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/logOut\" onclick='logOut()'>LOGOUT</a>\n" +
                            "            </li>");
                        document.write("<li class=\"nav-item\">\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/admin/\">ADMIN PAGE</a>\n" +
                            "            </li>");
                    }
                    else{
                        document.write("<li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"#\" onclick=carterror()>CART</a>\n" +
                            "          </li>");
                        document.write("<li class=\"nav-item\">\n" +
                            "              <a class=\"nav-link js-scroll-trigger\" href=\"/member/login\">LOGIN</a>\n" +
                            "            </li>\n");
                        document.write("<li class=\"nav-item\">\n" +
                            "            <a class=\"nav-link js-scroll-trigger\" href=\"/member/regist\">REGIST</a>\n" +
                            "          </li>");

                    }

                    function carterror() {
                        alert("로그인 하세요");
                        location.href='/member/login'
                    }
                </script>

            </ul>
        </div>
    </div>
</nav>


<div style="margin-top: 150px;padding-left: 10px; margin-bottom: 10px">
<input type = "button" value = "내 정보조회" onclick="myInfo()" style="width: 49%;"/>
<input type = "button" value = "주문조회" onclick = "myOrder()" style="width: 49%;"/>
</div>


<div id ="myOrder" style="display:none;">
    <table>
        <thead>

        <tr>


            <td class="pivateck">주문번호</td>
            <td class="pivateck">주문 날짜</td>
            <td class="titlehead">가격</td>
        </tr>
        </thead>

        <tbody>

        <tr th:each="order:${myOrderData}" onclick="selectOrder(this);" th:attr="data-o_no=${order.o_no}">
            <td th:text="${order.o_no}" >주문번호</td>
            <td th:text="${#dates.format(order.o_date,'YYYY-MM-dd HH:mm')}" >주문 날짜</td>
            <td th:text="${order.o_price}" >가격</td>
<!--            <td class="left" th:text="${order.od_amount}" >수량</td>-->
<!--            <td class="left" th:text="${order.od_price}">상품금액</td>-->
<!--            <td class="left" th:text="${order.o_cancel}">상태</td>-->
        </tr>

        </tbody>
    </table>

</div>




<form name = "myPage" id = "myPage"
      class ="myPage" method="post" style = "width:600px; display: none"  >
    <h1>내정보조회</h1>
<div style="height: 321px; padding-top: 10px; border-top: 1px solid #d1d1d5">
    <div style="padding-top: 20px">
        <span>Username : </span><input style="border: none" type = "text" name = "m_name" id ="m_name" readonly="readonly" th:value="${member.m_name}"/>
    </div>
    <div id="checkName"></div>

    <div class ="mp" style="padding-top: 20px"><span>ID : </span><input style="border: none" type="text" name ="m_id" id="m_id" readonly="readonly" th:value="${member.m_id}" />
    </div>

    <div class ="txtb" style="padding-top: 20px"><span>비밀번호 : </span><input style="border: none" type="password" name ="m_password" id="m_password"/>
        <span data-placeholder="Password"></span></div>
    <div id =checkPassword></div>


    <div class ="txtb" style="padding-top: 20px"><span>비밀번호확인 : </span><input type="password" id="PwCheck"/>
        <span data-placeholder="Password check"></span></div>
    <div id="checkPwd" style="padding-top: 20px"></div>

    <div class ="mp" style="padding-top: 20px">  <span>Phone number : </span><input type="text" name ="m_phone" id="m_phone" th:value="${member.m_phone}"/>
    </div>
    <div id="checkPhone" style="padding-top: 20px"></div>
</div>
    <input type = "button" class= "logbtn" value = "회원 정보 수정" onclick="insert();"/>
</div>
</form>

<div id="page" style="text-align: center; width:100%; display: none">
    <table>
        <tr>
            <td style="text-align:center;"><a class="pagebtn blue" href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.beginPage}">&lt;&lt;</a></td> <!-- 첫페이지 -->
            <td style="text-align:center;"><a class="pagebtn blue" href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.prevPage}">&lt;</a></td> <!--이전페이지-->

            <td th:each="page:${boardPaging.pageRange}" style="text-align:center;">
                <!--현재페이지인 경우--><a class="pagebtn blue"  th:if="${ boardPaging.currentPage eq page }" style="font-weight: bold; font-size: 20px;" href="#" th:text="${page}">00</a>
                <!--현재페이가 아닌 경우--><a class="pagebtn blue"  th:if="${ boardPaging.currentPage ne page }" href="#" onclick="goPage(this);" th:attr="data-page=${page}" th:text="${page}">00</a>
            </td>

            <td style="text-align:center;"><a class="pagebtn blue"  href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.nextPage}">&gt;</a></td> <!--다음페이지-->
            <td style="text-align:center;"><a class="pagebtn blue"  href="#" onclick="goPage(this);" th:attr="data-page=${boardPaging.lastPage}">&gt;&gt;</a></td> <!-- 마지막페이지 -->
        </tr>
    </table>
</div>

<form name="boardPaging" id="boardPaging" method="post" action="/admin/orderList">
    <input type="hidden" name="currentPage" id="currentPage" th:value="${boardPaging.currentPage}"/>
    <input type="hidden" name="articleCount" id="articleCount" th:value="${boardPaging.articleCount}"/>
</form>

<div id = "OrderModal" class="modal" style="display: none;">

    <div class="modal-content" style="width: 80%; margin: auto; margin-top: 50px">
        <span class="close col-md-1" onclick="document.getElementById('OrderModal').style.display='none'">&times;</span>
        <div style="height: 300px; overflow: scroll;">
            <table class="table table-bordered table-hover text-center">
                <tbody id = "product-table">

                </tbody>
            </table>
        </div>

        <div>
            <table class="table table-bordered table-hover text-center">
                <tbody id = "order-table">

                </tbody>
            </table>
        </div>

    </div>
</div>

<script type = "text/javascript" th:inline="javascript">



        var order = /*[[${myOrderData}]]*/;
     console.log(order);
    console.log(memberk);
   var currentPage = /*[[${boardPaging.currentPage}]]*/;
   var modal = document.getElementById("OrderModal");

   var goPage = function(p){
       var page = $(p).data('page');

       console.log(page);

       if(page>0){
           $('#currentPage').val(page);
           $('#boardPaging').submit();
       }

   };


   var selectOrder = function(obj){
       var o_no = $(obj).data('o_no');

       console.log(o_no);

       $.ajax({
           url: '/admin/order/'+o_no,
           type: 'post',
           data: {
               // data1:'abcd', data2:'bdee' // for test
           },
           dataType: 'json',
           success : function(data) {
               // 성공 시 동작
               console.log('성공');
               console.log(data);
               $("#product-table").empty();
               $.each(data.product, function(index, obj){
                   $("#product-table").append('<tr><td rowspan="5"><img src="/uploads/thumbnail/'+obj.thumb_100+'" style="max-width: 100%;"/></td></tr>'+
                       '<tr><td>제품명</td><td>'+obj.p_name+'</td></tr>'+
                       '<tr><td>옵션</td><td>'+obj.po_value+'</td></tr>'+
                       '<tr><td>구매 수량</td><td>'+obj.od_amount+'</td></tr>'+
                       '<tr><td>가격</td><td>'+obj.od_price+'</td></tr>');
               });
               $("#order-table").empty();
               $("#order-table").append('<tr><td>회원명</td><td>' + data.orderInfo[0].m_name + '</td></tr>');
               $("#order-table").append('<tr><td>주문자 성명</td><td>' + data.orderInfo[0].o_name + '</td></tr>');
               $("#order-table").append('<tr><td>주문자 연락처</td><td>' + data.orderInfo[0].o_number + '</td></tr>');
               $("#order-table").append('<tr><td>주문자 주소</td><td> (' + data.orderInfo[0].o_postcode + ')'+data.orderInfo[0].o_roadAddress +' '+ data.orderInfo[0].o_detailAddress +'</td></tr>');
               $("#order-table").append('<tr><td>주문 가격</td><td>' + (data.orderInfo[0].o_price+2500) + '</td></tr>');

               modal.style.display = "block";

           },
           error: function(error) {
               // 실패 시 동작
               console.error('실패');
               console.error(error);
           },
           complete: function(response) {
               // 성공하든 실패하든 항상 할 동작
               console.log('수행 요청이 완료되었습니다.');
           }
       });
   };

    var myInfo = function(){
        $('#myOrder')
            .attr('style','display:none');
        $('#page')
            .attr('style','display:none');
        $('#myPage')
            .attr('style','display:block');
   }

   var myOrder = function(){
        $('#myOrder')
            .attr('style','display:block');
       $('#page')
           .attr('style','display:block');
        $("#myPage")
            .attr('style','display:none');
   }



    //html 설정

    $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur",function(){
        if($(this).val() == "")
            $(this).removeClass("focus");
    });

    //빈칸입력방지 및 폼 제출

    var insert = function(){
        var m_no=/*[[${session.member.m_no}]]*/
            console.log(m_no);

        if($.trim($('#m_name').val())==''){
            document.getElementById("checkName").innerHTML = "이름을 입력해주세요.";
            document.getElementById("checkName").style.color = "red";
            return false;
        }

        if($.trim($('#m_id').val())==''){
            document.getElementById("checkId").innerHTML = "ID를 입력해주세요.";
            document.getElementById("checkId").style.color = "red";
            return false;
        }



        if($.trim($('#m_password').val())==''){
            document.getElementById("checkPassword").innerHTML = "비밀번호를 입력해주세요.";
            document.getElementById("checkPassword").style.color = "red";
            return false;
        }

        if($.trim($('#m_phone').val())==''){
            document.getElementById("checkPhone").innerHTML = "휴대폰 번호를 입력해주세요.";
            document.getElementById("checkPhone").style.color = "red";
            return false;
        }

        if($.trim($('#m_password').val())!=$.trim($('#PwCheck').val())){
            document.getElementById("checkPwd").innerHTML = "비밀번호를 확인해주세요.";
            document.getElementById("checkPwd").style.color = "red";
            return false;
        }

        else{
            alert("회원 정보를 수정하셨습니다.");
        }


        $('#myPage')
            .attr('action','/member/mypage/modify/'+m_no)
            .submit();
    };


    $("#m_password").change(function(){
        checkPassword($('#m_password').val(),$('#m_id').val());
    });
    function checkPassword(password,id){

        if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(password)){
            document.getElementById("checkPassword").innerHTML = "숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.";
            document.getElementById("checkPassword").style.color = "red";
            $('#password').val('').focus();
            return false;
        }else{
            document.getElementById("checkPassword").innerHTML = "사용가능한 비밀번호입니다";
            document.getElementById("checkPassword").style.color = "blue";
            return false;
        }


        return true;
    }


    var idChk =function(){
        var ck_id = $('#m_id').val();

        console.log(ck_id);

        var param = {m_id:ck_id};
        //ajax
        $.ajax({
            type : 'get',
            url : '/board/idchk',
            data : param,
            error : function(error) {
                console.error("Error!");
            },
            success : function(data) {
                console.log("success!");
                console.log(data);
                console.log(data.count);
                if(data.count==0){
                    if(param.m_id==""){
                        document.getElementById("checkId").innerHTML = "사용 불가능한 아이디 입니다.";
                        document.getElementById("checkId").style.color = "red";

                    }
                    else{
                        document.getElementById("checkId").innerHTML = "사용 가능한 아이디 입니다.";
                        document.getElementById("checkId").style.color = "blue";}
                    // 아이디 중복 없음
                }
                else{
                    document.getElementById("checkId").innerHTML = "사용 불가능한 아이디 입니다.";
                    document.getElementById("checkId").style.color = "red";
                    // 아이디 중복
                }

            },
            complete : function() {
                console.log("complete!");
            }
        });
    }

</script>
</body>
</html>

