<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="include/import::import">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/agency.min.css" rel="stylesheet">
    <link href="/static/css/board.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input:focus {outline:none;}
    </style>


</head>
<body style="width: fit-content">
<div style="margin-bottom: 100px" th:include="include/nav::nav"></div>
<h1 >장바구니</h1>

<!--<div><span th:text="${cartsum}"></span></div>-->
<form name="cartForm" id="cartForm" method="get" style="width:600px;">
    <div style="padding: 5px; border-top: 1px solid #d1d1d5; text-align: right"><span>총 개수 : </span><span th:text="${map.amount}"></span></div>
    <div th:each="cart,in:${map.cart}">
        <div style="height: 321px; padding-top: 20px; border-top: 1px solid #d1d1d5">
            <div style="float: left; position: relative"><img th:src="'/uploads/thumbnail/'+${cart.thumb_300}"></img></div>
            <div style="float: right"><img onclick="cartdelete(this)"th:attr="data-cart_no=${cart.cart_no}" src="/static/img/엑스.png"></div>
            <div style="padding-top: 20px"><span th:text="${cart.p_name}">상품이름</span></div>
            <div><span style="font-size: 12px; color: #6e707e">Option :</span> <span style="font-size: 12px; color: #6e707e" th:text="${cart.po_value}">옵션 이름</span></div>
            <div>
                <input type="checkbox" name="cart_no" id="cart_no" class ="cartno" th:value="${cart.cart_no}"/>
                <span>수량</span>
                <select th:name="|name${in.index}|" th:id ="|name${in.index}|" onchange="oncha(this)"th:attr="data-index=${in.index},data-price=${cart.p_price},data-po_price=${cart.po_price} " >
                    <option name="cart_amount" id="cart_amount" th:each="i : ${#numbers.sequence(1,cart.po_stock)}" th:text="${i}" th:selected="${i==cart.cart_amount}"></option>
<!--                    <option name = "cart_amount" th:value="${cart.cart_amount}" th:text="${#numbers.sequence(1,cart.cart_amount)}"></option>-->
                </select>
                </div>
        </div>
        <div style="padding-bottom: 20px" id = "price">
            <div id = "p_price" style="border-top: 1px solid #d1d1d5; padding: 5px"><span>상품 가격:</span> <span th:text="${cart.p_price}+' 원'">상품 가격</span><input readonly="readonly" style="border: none"  type="text" th:id ="|span${in.index}|" th:value="' X '+${cart.cart_amount}"/></div>
            <div style="border-bottom: 1px solid #d1d1d5; padding: 5px"><span>옵션 추가 가격:</span> <span th:text="${cart.po_price}">옵션 가격</span></div>
            <div style="border-bottom: 1px solid #d1d1d5; padding: 5px"><span>총 가격:</span> <input readonly="readonly" style="border: none" th:id="|test${in.index}|" type="text" th:value="${cart.cart_amount*(cart.p_price+cart.po_price)}"/></div>
        </div>
    </div>
</form>

<input type="button" id = "cartBuy" value="주문 하기" onclick ="cartBuy()"/>
<script type="text/javascript" th:inline="javascript">

var oncha = function (obj) {
    var index = $(obj).data("index");
    var price = $(obj).data("price");
    var po_price = $(obj).data("po_price");
    console.log(price);
    console.log(po_price);

        var target = document.getElementById("name" + index);
        var val = target.options[target.selectedIndex].value;
        // 옵션 value 값
        $('#test'+index)
            .attr('value', val*(price+po_price));
    $('#span'+index)
        .attr('value', ' X '+val);
}

var cartdelete = function(obj){
    var cart_no = $(obj).data("cart_no");

    if(confirm("정말로 삭제하시겠습니까?")) {
        $.ajax({
            type: 'post',
            url: '/payment/cart/delete/' + cart_no,
            data: 'json',
            error: function (error) {
                console.error("Error!");
            },
            success: function (data) {
                console.log("success!");
                window.location.reload(true);


            },
            complete: function () {
                console.log("complete!");

            }
        });
    }
};

// $( '#cart_quantity' ).change(function() {
//
// var cart = /*[[${map.cart}]]*/;
// $.each($('option[name ="cart_amount"]:checked'), function(index, obj) {
//
//         console.log("hello world---------");
//         var amount = $(obj).val();
//         $('#p_price').remove()
//         $('#price').append('<div id = \"p_price\" style=\"border-top: 1px solid #d1d1d5; padding: 5px\"><span>상품 가격:</span> <span th:text='+cart.p_price+"x"+amount+">상품 가격</span></div>\n');
//         console.log($('#p_price').text());
//         console.log("amount: " +amount);
//
//
//
//
// })
// });

    var cartBuy = function(){

        var cart_number =[];
        var cart_amount = [];

        $(".cartno").each(

            function(index) {

                if($(this).is(":checked") == true){

//                console.log('checked' + index);
                    cart_number.push($(this).val());
                    cart_amount.push($("#name" + index + " option:selected").val());
                    $('#cartForm').append('<input type="hidden" name="cart_no_arr" value="'+$(this).val()+'"/>');
                }

            })




        // $.each($('input[name="cart_no"]:checked'), function(index,obj){
    //     console.log($(obj).val());
    //     $('#cartForm').append('<input type="hidden" name="cart_no_arr" value="'+$(obj).val()+'"/>');
    //     cart_number.push($(obj).val());
    //     cart_amount.push($("#name" + index + " option:selected").val());
    //
    // });
    //
    //
    // $.each($('option[name ="cart_amount"]:checked'), function(index, obj) {
    //     console.log($(obj).val());
    //     cart_amount.push($(obj).val());
    // });

        console.log(cart_amount);
    }
    else{

    }

        $.ajax({
            type: 'post',
            url: '/payment/cartAmount',
            data: {"cart_number":cart_number, "cart_amount":cart_amount},
            error: function (error) {
                console.error("Error!");
            },
            success: function (data) {
                console.log("success!");
                console.log(data);
            },
            complete: function () {
                console.log("complete!");
                $('#cartForm')
                    .attr('action','/payment/cartBuy/')
                    .attr('method','post')
                    .submit();
            }
        });

    // var cart = /*[[${map.cart}]]*/;
    // var total =/*[[${map.total}]]*/;
    // console.log(cart);
    // var map = {cart:cart, total:total};
    // $.ajax({
    //     url : '/payment/cartBuy/',
    //     type : 'get',
    //     contentType: "application/json",
    //     data : JSON.stringify(map),
    //
    //     error : function(error){
    //         console.log("something wrong");
    //
    //     },
    //     success : function(){
    //         alert("결제페이지로 이동합니다.");
    //
    //     }
    // })


};

// console.log(cart);
// console.log(total);

</script>
</body>
</html>