<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="include/import::import">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/agency.min.css" rel="stylesheet">
    <link href="/static/css/board.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input:focus {outline:none;}
    </style>


</head>
<body style="width: fit-content">
<h1>주문 완료</h1>
<div style="width: 600px; padding-top: 20px">

    <div style="background-color: #0062cc; color: white; padding: 15px; text-align: center; margin-bottom: 10px">주문이 완료되었습니다.<br><span th:text="${orderDataList.orderInfo.o_date}"/></div>

<h5>주문 목록</h5>
<div th:each ="productData: ${orderDataList.productData}">
    <div style="padding-top: 10px; border-top: 1px solid #d1d1d5"/>
    <div style="float: left"><img style="width: 50%" th:src=|/uploads/thumbnail/${productData.thumb_100}|/> </div>
    <div style="float: right"><input style="width: 50px; border: none;" type="text" id="p_amount" readonly="readonly" th:value="${productData.od_price}"/>원</div>
    <div><span>상품이름</span> <input style="border: none;" type="text" id="p_name" name="p_name" readonly="readonly" th:value="${productData.p_name}"/></div>
    <div style="float: right"><input style="width: 50px; border: none;" type="text" id="p_amount" readonly="readonly" th:value="${productData.od_amount}"/>개</div>
    <div style="color: #818183; font-size: 12px; margin-bottom: 10px"><span>옵션이름</span> <input style="border: none; color: #818183" type="text" id="po_name" name="po_value" readonly="readonly" th:value="${productData.po_value}"/></div>
<!--    <div><span>상품 가격</span> <input style="border: none;" type="text" id="p_price" name="p_price" readonly="readonly" th:value="${productData.p_price}"/></div>-->
<!--    <div><span>옵션 가격</span> <input style="border: none;" type="text" id="po_price" name="po_price" readonly="readonly" th:value="${productData.po_price}"/></div>-->
<!--    <div style="display: none"><span> 총 가격 </span> <input style="border: none;" type="text" readonly="readonly" th:value="${productData.od_price}"/></div>-->

</div>

<div th:each ="orderInfo: ${orderDataList.orderInfo}">
    <div style="background-color: #cfcfd6; margin-top: 10px; margin-bottom: 20px">
        <div style="width: 360px; margin: auto">
            <div><span>총 주문 금액</span><span style="float: right" th:text="${orderInfo.o_price}"></span></div>
            <div><span>배송비</span><span style="float: right" th:text="2500"></span></div>
            <div><span>결제 금액</span><span style="float: right" th:text="${orderInfo.o_price}+2500"></span></div>
        </div>
    </div>
    <h5>배송지 정보</h5>

    <table style="border: 1px solid #d1d1d5;">
        <tr>
            <td style="width: 20%;border: 1px solid #d1d1d5;">수령인</td><td><span style="border: none;" type="text" th:text="${orderInfo.o_name}"></span></td>
        </tr>
        <tr>
            <td style="width: 20%;border: 1px solid #d1d1d5;">휴대전화</td><td><span style="border: none;" type="text" th:text="${orderInfo.o_number}"></td>
        </tr>
        <tr>
            <td style="width: 20%;border: 1px solid #d1d1d5;">주소</td><td><div><span th:text="${orderInfo.o_postcode}"/><br/><span th:text="${orderInfo.o_roadAddress}"/><br/><span th:text="${orderInfo.o_detailAddress}"/></div></td>
        </tr>
    </table>

    <table>
        <tbody>
        <tr>
            <th>
                결제수단
            </td>
            <td>
                <select name="pay_method" id="pay_method">
                    <option value="card">신용카드</option>
                    <option value="vbank">가상계좌</option>
                    <option value="phone">휴대폰소액결제</option>
                    <option value="cultureland">문화상품권</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</div>


</body>
</html>