<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="include/import::import">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/agency.min.css" rel="stylesheet">
    <link href="/static/css/board.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body style="width: fit-content">

<div th:each ="productData: ${orderDataList.productData}">
    <div style="padding-top: 20px; border-top: 1px solid #d1d1d5"/>
    <div style="float: left"><img th:src=|/uploads/thumbnail/${productData.thumb_300}|/> </div>
    <div><span>상품이름</span> <input style="border: none;" type="text" id="p_name" name="p_name" readonly="readonly" th:value="${productData.p_name}"/></div>
    <div><span>옵션이름</span> <input style="border: none;" type="text" id="po_name" name="po_value" readonly="readonly" th:value="${productData.po_value}"/></div>
    <div><span>상품 가격</span> <input style="border: none;" type="text" id="p_price" name="p_price" readonly="readonly" th:value="${productData.p_price}"/></div>
    <div><span>옵션 가격</span> <input style="border: none;" type="text" id="po_price" name="po_price" readonly="readonly" th:value="${productData.po_price}"/></div>
    <div style="float: right"><input style="width: 50px; border: none;" type="text" id="p_amount" readonly="readonly" th:value="${productData.od_amount}"/>개</div>
    <div><span> 총 가격 </span> <input style="border: none;" type="text" readonly="readonly" th:value="${productData.od_price}"/></div>

</div>

<div th:each ="orderInfo: ${orderDataList.orderInfo}">
    <div style="background-color: #cfcfd6; margin-top: 10px; margin-bottom: 20px">
        <div style="width: 360px; margin: auto">
            <div><span>총 주문 금액</span><span style="float: right" th:text="${orderInfo.o_price}"></span></div>
            <div><span>배송비</span><span style="float: right" th:text="2500"></span></div>
            <div><span>결제 금액</span><span style="float: right" th:text="${orderInfo.o_price}+2500"></span></div>
        </div>
    </div>
    <h5>배송지 정보</h5>
    <div style="height: 141px; padding-top: 20px; border-top: 1px solid #d1d1d5">
        <div><span>주문자이름</span> <span style="border: none;" type="text" th:text="${orderInfo.o_name}"></span></div>
        <div><span>주문자번호</span> <span style="border: none;" type="text" th:text="${orderInfo.o_number}"></span></div>
    </div>
    <input type="text" id="sample4_postcode" name="o_postcode" placeholder="우편번호" th:text="${orderInfo.o_postcode}">
    <input type="text" id="sample4_roadAddress" name="o_roadAddress" placeholder="도로명주소" th:text="${orderInfo.o_roadAddress}">
    <span id="guide" style="color:#999;display:none"></span>
    <input type="text" id="sample4_detailAddress" name="o_detailAddress" placeholder="상세주소" th:text="${orderInfo.o_detailAddress}">
    <table>
        <tbody>
        <tr>
            <th>
                결제수단
            </td>
            <td>
                <select name="pay_method" id="pay_method">
                    <option value="card">신용카드</option>
                    <option value="vbank">가상계좌</option>
                    <option value="phone">휴대폰소액결제</option>
                    <option value="cultureland">문화상품권</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</div>


</body>
</html>