<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.bit.academy.mapper.MemberMapper">

    <select id = "selectMember" parameterType="Integer" resultType="com.bit.academy.model.MemberVO">
        SELECT
            m_no, m_name, m_id, m_password, m_phone, m_address, m_regdate
        FROM member
        WHERE m_no = #{m_no}
    </select>

    <select id="selectMemberList" parameterType="com.bit.academy.model.BoardPaging" resultType="com.bit.academy.model.MemberVO">
        SELECT
            m_no, m_name, m_id, m_password, m_phone, m_address, m_regdate
        FROM member
        ORDER BY m_no ASC
        LIMIT #{limitBegin}, #{articleCount}
    </select>

    <select id="selectMemberListCount"
            parameterType="com.bit.academy.model.BoardPaging"
            resultType="int">
        select count(1) from member
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND ${searchOption} like CONCAT('%', #{searchKeyword}, '%')
        </if>
    </select>

    <select id="searchMemberList" resultType="com.bit.academy.model.MemberVO">
        SELECT
            m_no, m_name, m_id, m_password, m_phone, m_address, m_regdate
        FROM member
        WHERE ${searchOption} like CONCAT('%', #{searchKeyword}, '%')
        ORDER BY m_no ASC
        LIMIT #{boardPaging.limitBegin}, #{boardPaging.articleCount}
    </select>

    <update id="updateMember" parameterType="com.bit.academy.model.MemberVO">
        UPDATE member
        SET
            m_name = #{m_name}, m_password=#{m_password}, m_phone=#{m_phone}, m_address=#{m_address}
        WHERE m_id = #{m_id}

    </update>

    <!--밑으로 시영이꺼-->
    <!--login-->
    <select id = "login" parameterType="com.bit.academy.model.MemberVO" resultType="com.bit.academy.model.MemberVO">
        SELECT
            *
        from member
        where m_id = #{m_id}
        and m_password = password(#{m_password})
    </select>

    <!--idFind-->

    <select id = "idFind" parameterType="com.bit.academy.model.MemberVO" resultType="com.bit.academy.model.MemberVO">
        SELECT m_id
        FROM member
        WHERE m_name = #{m_name}
        AND m_phone = #{m_phone}
    </select>

    <!--pwFind-->

    <select id = "pwFind" parameterType="com.bit.academy.model.MemberVO" resultType="com.bit.academy.model.MemberVO">
        SELECT m_password
        FROM member
        WHERE m_id = #{m_id}
        AND m_phone = #{m_phone}
    </select>

    <!-- Member Regist-->
    <insert id = "regist"
            parameterType="com.bit.academy.model.MemberVO"
            useGeneratedKeys="true"
            keyProperty="m_no">
        <![CDATA[
            INSERT INTO member(
                m_name, m_id, m_password, m_phone
                )
            VALUES (
                #{m_name}, #{m_id}, password(#{m_password}), #{m_phone}
                )
        ]]>
    </insert>

    <update id="modifyMember" parameterType="com.bit.academy.model.MemberVO">
        UPDATE member
        SET
            m_password=password(#{m_password}), m_phone=#{m_phone}
        WHERE m_no = #{m_no}
    </update>

<!--    <select id = "myOrderData" resultType="com.bit.academy.model.OrderAfterVO">-->
<!--        SELECT o.o_date,p.thumb_100,p.p_name,po.po_value,m.m_name,od.od_amount,od.od_price,o.o_cancel,o.o_no-->
<!--        FROM orderinfo o-->
<!--        JOIN member m on o.m_no = m.m_no-->
<!--        JOIN order_data od on o.o_no = od.o_no-->
<!--        JOIN product_option po on od.po_id = po.po_id-->
<!--        JOIN product p on po.p_id = p.p_id-->
<!--        WHERE o.m_no = ${m_no}-->
<!--        ORDER BY o.o_date ASC-->
<!--        LIMIT #{boardPaging.limitBegin}, #{boardPaging.articleCount}-->
<!--    </select>-->
    <select id ="myOrderData"
            resultType="com.bit.academy.model.OrderinfoVO">
        select o_no, o_date, o_price from orderinfo
        where m_no = #{m_no}
        ORDER BY o_no ASC
        LIMIT #{boardPaging.limitBegin}, #{boardPaging.articleCount};
    </select>


    <select id="selectOrderListCount"
            parameterType="int"
            resultType="int">
        select count(1) from orderinfo
        WHERE m_no = #{m_no}
    </select>
</mapper>