<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.academy.mapper.OrderMapper">
    <select id ="selectAllOrderData" resultType="Map">
        select o_date, m_no, od_amount, od_price from orderinfo as oi join order_data as od on oi.o_no = od.o_no;
    </select>

    <insert id="insertOrderData" parameterType="com.bit.academy.model.OrderDataVO">
        insert into order_data(o_no, po_id, od_amount, od_price) values (
        (SELECT IFNULL(max(o_no),1)FROM orderinfo), #{po_id}, #{od_amount}, #{od_price}
        )
    </insert>

    <insert id="insertOrderInfo" parameterType="com.bit.academy.model.OrderinfoVO">
        insert into orderinfo(m_no, o_price, o_date, o_postcode, o_name, o_number, o_detailAddress, o_roadAddress)
        value (#{m_no}, #{o_price}, now(), #{o_postcode}, #{o_name}, #{o_number}, #{o_detailAddress}, #{o_roadAddress})
    </insert>

<!--    <select id="selectOrderData" parameterType="int" resultType="com.bit.academy.model.OrderAfterVO">-->
<!--        select po_id, od_amount, od_price from order_data as od-->
<!--        join (select * from orderinfo where o_no=(select max(o_no) from orderinfo where m_no=#{m_no})) as oi-->
<!--        on od.o_no = oi.o_no;-->
<!--    </select>-->
    <select id="selectOrderData" parameterType="int" resultType="com.bit.academy.model.OrderDataVO">
        select * from order_data where o_no = (select max(o_no) from orderinfo where m_no = #{m_no});
    </select>

    <select id="selectOrderInfo" parameterType="int" resultType="com.bit.academy.model.OrderinfoVO">
        select * from orderinfo where o_no = (select max(o_no) from orderinfo where m_no = #{m_no});
    </select>

<!--    <select id="selectProductData" parameterType="int" resultType="Map">-->
<!--        select * from product as p join product_option as po on p.p_id = po.p_id  where po.po_id = #{po_id};-->
<!--    </select>-->
    <select id="selectProductData"  parameterType="int" resultType="Map">
        select * from product as p join product_option as po on p.p_id = po.p_id  join (select * from order_data where o_no = #{o_no}) as od on po.po_id = od.po_id;
    </select>

    <update id ="updateStock">
        update product_option set po_stock = po_stock - #{od_amount} where po_id = #{po_id};
    </update>
</mapper>