<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.bit.academy.mapper.PaymentMapper">

    <select id="cartview" parameterType="Integer" resultType="com.bit.academy.model.CartVO">
        SELECT
            c.cart_no, c.m_no, c.p_id, c.cart_amount, c.po_id, p.thumb_300, p.p_name, p.p_price, po.po_value, po.po_price, po.po_stock
        FROM cart c
        join product p on c.p_id = p.p_id
        join product_option po on p.p_id=po.p_id
        WHERE m_no = #{m_no}
    </select>


    <select id="amountsum" parameterType="Integer" resultType="Integer">
        select sum(cart_amount)
        from cart
        where m_no=#{m_no};
    </select>

    <select id="totalpay" parameterType="Integer" resultType="Integer">
        SELECT
           sum(c.cart_amount*(p.p_price+po.po_price))
        FROM cart c
        join product p on c.p_id = p.p_id
        join product_option po on p.p_id=po.p_id
        WHERE m_no = #{m_no};
    </select>



    <insert id = "goCart" parameterType="List">
        <![CDATA[
        INSERT INTO cart (po_id, cart_amount, p_id, m_no)
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (${item.po_id},${item.cart_amount},${item.p_id},${item.m_no} )
        </foreach>
        ]]>
    </insert>

</mapper>