<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.bit.academy.mapper.PaymentMapper">
<!--장바구니조회-->

    <select id="cartview" parameterType="Integer" resultType="com.bit.academy.model.CartVO">
        SELECT
            c.cart_no, c.m_no, c.p_id, c.cart_amount, c.po_id, p.thumb_300, p.p_name, p.p_price, po.po_value, po.po_price, po.po_stock
        FROM cart c
        join product p on c.p_id = p.p_id
        join product_option po on p.p_id=po.p_id
        WHERE m_no = #{m_no}
    </select>
    <select id="amountsum" parameterType="Integer" resultType="Integer">
        select sum(cart_amount)
        from cart
        where m_no=#{m_no};
    </select>
    <select id="totalpay" parameterType="Integer" resultType="Integer">
        SELECT
           sum(c.cart_amount*(p.p_price+po.po_price))
        FROM cart c
        join product p on c.p_id = p.p_id
        join product_option po on p.p_id=po.p_id
        WHERE m_no = #{m_no};
    </select>

<!--카트담기-->
    <insert id = "goCart">
        INSERT INTO cart (po_id, cart_amount, p_id, m_no)
        VALUES
        <foreach collection="list" item="type" open="(" close=")" separator="," >
            ${type}
        </foreach>
    </insert>
    <delete id="deleteCart" parameterType="int">
        DELETE FROM cart WHERE cart_no = #{cart_no}
    </delete>

<!--    상품구매-->

    <select id = "buyProduct" resultType="com.bit.academy.model.ProductVO">
        SELECT *
        FROM product
        WHERE p_id =${p_id}
    </select>
    <select id = "buyMember" resultType="com.bit.academy.model.MemberVO">
        SELECT *
        FROM member
        WHERE m_no = ${m_no}
    </select>
    <select id ="buyOption" resultType="com.bit.academy.model.OptionVO">
        SELECT *
        FROM product_option
        WHERE po_id = ${po_id}
    </select>

<!--    장바구니에서 구매하기-->
    <select id = "cartBuy" parameterType="int" resultType="com.bit.academy.model.CartVO">
        SELECT m.m_name, m_id, m_phone, c.cart_amount, p.p_name, p.p_price, po.po_value, po.po_price
        FROM cart c JOIN member m
        ON c.m_no = m.m_no
        JOIN product p on c.p_id = p.p_id
        JOIN product_option po on c.po_id = po.po_id
        WHERE c.cart_no =${cart_no};
    </select>
</mapper>