<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.academy.mapper.ProductMapper">
<!--    카테고리별 조회(현대적인, 따듯한, 구제)-->
    <select id = "productSearchAll" parameterType="List" resultType="com.bit.academy.model.ProductVO">
    SELECT *
    FROM product AS p
    JOIN category_product AS cp
    ON p.p_id = cp.p_id
    JOIN category c
    ON cp.category_no = c.category_no
    WHERE c.category_no IN
    <foreach collection="list" item="type" open="(" close=")" separator=",">
        #{type}
    </foreach>
    </select>
<!--    카테고리분류 이후 가구 소품 조명 분리-->
    <select id = "productSearch"  parameterType="Integer" resultType="com.bit.academy.model.ProductVO">

        SELECT *
        FROM product AS p
        JOIN category_product AS cp
        ON p.p_id = cp.p_id
        JOIN category c
        ON cp.category_no = c.category_no
        WHERE c.category_no = ${c_no};
    </select>

<!--상품등록-->
    <insert id="insertProduct"
            parameterType="com.bit.academy.model.ProductVO"
            useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO product (
                p_name, p_price, p_brand, p_spec, thumb_name, thumb_route, thumb_100, thumb_300, thumb_600, detailimg_name, detailimg_route
            )
            VALUES (
                #{p_name}, #{p_price}, #{p_brand}, #{p_spec}, #{thumb_name}, #{thumb_route}, #{thumb_100}, #{thumb_300}, #{thumb_600}, #{detailimg_name}, #{detailimg_route}
            )
        ]]>
    </insert>

    <insert id="insertCategory"
            parameterType="Integer"
            useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO category_product (p_id, category_no)
            VALUES (
                (SELECT IFNULL(max(p_id),1)FROM product p), #{category_no}
            )
        ]]>
    </insert>
<!--상품상세페이지-->

    <select id ="productDetail" parameterType="Integer" resultType="Map">
        SELECT *
        FROM product p JOIN
        product_option po on p.p_id = po.p_id
        WHERE p.p_id = ${p_id};
    </select>


</mapper>

