<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bit.academy.mapper.ProductMapper">
<!--    모든상품조회(기본화면)-->
    <select id = "productMain" resultType="com.bit.academy.model.ProductVO">
        SELECT p_id, p_name, thumb_300,p_price
        FROM product p
    </select>
<!--    카테고리별 조회(현대적인, 따듯한, 구제)-->
    <select id = "productSearchAll" resultType="com.bit.academy.model.ProductVO">
    SELECT *
    FROM product AS p
    JOIN category_product AS cp
    ON p.p_id = cp.p_id
    JOIN category c
    ON cp.category_no = c.category_no
    WHERE c.category_no IN
    <foreach collection="list" item="type" open="(" close=")" separator=",">
        #{type}
    </foreach>
    </select>


    <select id="selectProductList"
            parameterType="Map"
            resultType="com.bit.academy.model.ProductVO">
        SELECT *
        FROM product AS p
        JOIN category_product AS cp
        ON p.p_id = cp.p_id
        JOIN category c
        ON cp.category_no = c.category_no
        WHERE c.category_no IN
        <foreach collection="c_no" item="type" open="(" close=")" separator=",">
            #{type}
        </foreach>
        ORDER BY p.p_id DESC
        LIMIT #{boardPaging.limitBegin}, #{boardPaging.articleCount}
    </select>

<!--    카테고리분류 이후 가구 소품 조명 분리-->
    <select id = "productSearch"  parameterType="Integer" resultType="com.bit.academy.model.ProductVO">

        SELECT *
        FROM product AS p
        JOIN category_product AS cp
        ON p.p_id = cp.p_id
        JOIN category c
        ON cp.category_no = c.category_no
        WHERE c.category_no = ${c_no};
    </select>

<!--상품등록-->
    <insert id="insertProduct"
            parameterType="com.bit.academy.model.ProductVO"
            useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO product (
                p_name, p_price, p_brand, p_spec, thumb_name, thumb_route, thumb_100, thumb_300, thumb_600, detailimg_name, detailimg_route
            )
            VALUES (
                #{p_name}, #{p_price}, #{p_brand}, #{p_spec}, #{thumb_name}, #{thumb_route}, #{thumb_100}, #{thumb_300}, #{thumb_600}, #{detailimg_name}, #{detailimg_route}
            )
        ]]>
    </insert>

    <insert id="insertCategory"
            parameterType="Integer"
            useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO category_product (p_id, category_no)
            VALUES (
                (SELECT IFNULL(max(p_id),1)FROM product p), #{category_no}
            )
        ]]>
    </insert>

    <insert id="insertOption"
            parameterType="com.bit.academy.model.ProductVO"
            useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO product_option (p_id, po_value, po_price, po_stock)
            VALUES(
            (SELECT IFNULL(max(p_id),1)FROM product p), #{po_value}, #{po_price}, #{po_stock}
            )
        ]]>
    </insert>

<!--상품상세화면-->
    <select id ="productDetail" parameterType="Integer" resultType="com.bit.academy.model.ProductVO">
        SELECT *
        FROM product
        WHERE p_id = ${p_id};
    </select>



    <select id = "productOption" parameterType="Integer" resultType="com.bit.academy.model.OptionVO">
        SELECT *
        FROM product_option
        WHERE p_id = ${p_id};
    </select>

    <select id ="productAmount" parameterType="Integer" resultType="com.bit.academy.model.CartVO">
        SELECT cart_amount
        FROM  cart
        WHERE p_id =${p_id}
    </select>

    <!--상품 조회-->
    <select id="selectProduct" parameterType="Integer" resultType="Map">
        SELECT *
        FROM product p JOIN
        category_product c on p.p_id = c.p_id
        WHERE p.p_id = ${p_id};
    </select>

    <select id="selectOption" parameterType="Integer" resultType="com.bit.academy.model.OptionVO">
        SELECT *
        FROM product_option
        WHERE po_id = ${po_id};
    </select>


    <!--상품수정-->
    <update id="updateProduct" parameterType="Map">
        UPDATE product as p, category_product cp

        <trim prefix="SET" suffixOverrides=",">
            <if test="productVO.thumb_name != null">
                p.thumb_name = #{productVO.thumb_name}, p.thumb_100=#{productVO.thumb_100}, p.thumb_300=#{productVO.thumb_300}, p.thumb_600=#{productVO.thumb_600},
            </if>
            <if test="productVO.detailimg_name != null">
                p.detailimg_name=#{productVO.detailimg_name},
            </if>
            p.p_name = #{productVO.p_name}, p.p_price=#{productVO.p_price}, p.p_brand=#{productVO.p_brand}, p.p_spec=#{productVO.p_spec}, cp.category_no = #{category_no}
        </trim>

        WHERE p.p_id = #{productVO.p_id} and cp.p_id = #{productVO.p_id}

    </update>

    <delete id="deleteOption" parameterType="Integer">
        DELETE FROM product_option WHERE p_id = #{p_id};
    </delete>

    <insert id="insertOption2"
            parameterType="com.bit.academy.model.OptionVO"
            useGeneratedKeys="true">
        <![CDATA[
            INSERT INTO product_option (p_id, po_value, po_price, po_stock)
            VALUES(
            #{p_id}, #{po_value}, #{po_price}, #{po_stock}
            )
        ]]>
    </insert>

    <select id="selectProductListCount"
            resultType="int">
        select count(1) from category_product
        WHERE category_no IN
        <foreach collection="list" item="type" open="(" close=")" separator=",">
            #{type}
        </foreach>
    </select>
</mapper>

